NET "A[0]" LOC = "P66";
NET "A[1]" LOC = "P62";
NET "A[2]" LOC = "P61";
NET "A[3]" LOC = "P59";
NET "B[0]" LOC = "P58";
NET "B[1]" LOC = "P57";
NET "B[2]" LOC = "P56";
NET "B[3]" LOC = "P55";
NET "O[0]" LOC = "P41";
NET "O[1]" LOC = "P40";
NET "O[2]" LOC = "P35";
NET "O[3]" LOC = "P34";
NET "O[4]" LOC = "P32";
NET "O[5]" LOC = "P29";
NET "O[6]" LOC = "P27";
NET "DOT"  LOC = "P26";
NET "COMMON0" LOC = "P44";
NET "COMMON1" LOC = "P43";
NET "COMMON2" LOC = "P33";
NET "COMMON3" LOC = "P30";
NET "CLK" LOC = "P123";
#NET "LED" LOC = "P67";
NET "ALU_MODE[0]" LOC = "P99";
NET "ALU_MODE[1]" LOC = "P100";
NET "ALU_MODE[2]" LOC = "P101";
NET "ALU_MODE[3]" LOC = "P102";